manifest
{
    mainScript = "main.nf"
    nextflowVersion = ">=20.0.0"
    version = "0.2"
    author = "Ashley Sawle"
    homePage = "https://github.com/crukci-bioinformatics/nf_filter_snvs"
    name = "Filter SNVs using htsjdk-tools pipeline"
}

params {
    // The reference genome sequence FASTA file.
    // If left unset will default to the FASTA file in the standard reference
    // data directory structure.
    REFERENCE_FASTA = null

    // The genomic intervals over which to call variants.
    // Can be a BED file or a Picard interval list file.
    // If left unset the entire reference sequence will be used.
    INTERVALS = null

    // The directory containing the VCF files specified in the inputs CSV file.
    // If left unset the VCF files specified in the inputs CSV are treated as
    // having valid paths which may be relative to the launch directory or
    // absolute paths.
    VCF_DIR = null

    // The directory containing the BAM files specified in the inputs CSV file.
    // If left unset the BAM files specified in the inputs CSV are treated as
    // having valid paths which may be relative to the launch directory or
    // absolute paths.
    BAM_DIR = null

    // CSV file specifying the input VCF and BAM files.
    // Must contain an id, vcf and tumour_bam column and optionally a normal_bam
    // column where a matched normal is available.
    INPUTS_CSV = "inputs.csv"

    // Top-level directory containing the output files.
    OUTPUT_DIR = "${launchDir}/filtered_vcfs"

    // Filter names and expressions provided to GATK VariantFiltration
    SNV_FILTERS = """
        --filter-name VariantAlleleCount \
        --filter-expression 'VariantAlleleCount < 3' \
        --filter-name VariantAlleleCountControl \
        --filter-expression 'VariantAlleleCountControl > 1' \
        --filter-name VariantMapQualMedian \
        --filter-expression 'VariantMapQualMedian < 40.0' \
        --filter-name MapQualDiffMedian \
        --filter-expression 'MapQualDiffMedian < -5.0 || MapQualDiffMedian > 5.0' \
        --filter-name LowMapQual \
        --filter-expression 'LowMapQual > 0.05' \
        --filter-name VariantBaseQualMedian \
        --filter-expression 'VariantBaseQualMedian < 25.0' \
    """

    // If the output is from sarek the vcfs are in subdirectories named after the sample
    // See line 172 of the workflow:
    // vcfDir ? (sarek_output ? "${vcfDir}/${id}/${vcf}" : "${vcfDir}/${vcf}") : vcf,
    sarek_output = false
}

process {
    container = 'crukcibioinformatics/filter-snvs:latest'

    errorStrategy = {
        task.exitStatus in ([ 104, 134 ] + (137..140)) ? 'retry' : 'finish'
    }

    cpus = 1
    memory = 1.GB
    time = '1h'
}

singularity {
    autoMounts = true
    runOptions = "-B /mnt"
}

profiles {
    standard
    {
        process.executor = "local"
        executor
        {
            cpus = 4
            memory = 8.GB
        }
    }

    bigserver
    {
        process.executor = "local"
        executor
        {
            cpus = 50
            memory = 128.GB
        }
    }

    cluster {
        process.executor = "slurm"
        executor {
            queueSize = 200
            pollInterval = '30 sec'
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true
    }

    epyc {
        process.executor = "slurm"
        process.queue = 'epyc'
        executor {
            queueSize = 200
            pollInterval = '30 sec'
            jobName = { "'$task.name'" }
        }
        singularity.enabled = true 
        conda.enabled = false  
        conda.useMamba = false
    }

}

